click==8.0.3
colorama==0.4.4
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.2
gunicorn==20.1.0
pymongo==4.2.0

numpy

# numpy
# scipy
# joblib
# threadpoolctl
# cython
# matplotlib
# scikit-image
# pandas
# seaborn
# memory_profiler
# pytest
# pytest-cov
# flake8
# black
# mypy
# pyamg
# sphinx
# sphinx-gallery
# numpydoc
# Pillow
# sphinx-prompt
# sphinxext-opengraph
# conda-lock
# scikit-learn
# scikit-learn==1.1.2
