{%extends 'base.html' %} {%block body%}

<div class="title relative">
    Predictions
    <a class="position-end btn btn-default" href="{{url_for('pima.predict')}}">New Prediction</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Features</th>
            <th scope="col">Outcome</th>
        </tr>
    </thead>
    <tbody>
        {% for prediction in predictions %}
        <tr>
            <td>{{prediction['features']}}</td>
            <td>{{prediction['result']}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}